.productCard {
  height: 444px;
  width: 386px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.productCard:hover {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.productCardImgContainer {
  height: 338px;
  width: 356px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  overflow-y: hidden;
  margin: 16px 16px 20px 16px;
}

.productCardImg {
  display: block;
  width: 100%;
}

.productPrice {
  font-weight: 600;
  font-size: 18px;
  margin: 0px 16px;
  line-height: 160%;
}

.productName {
  margin: 0px 16px;
  font-size: 18px;
  font-weight: 300;
  line-height: 160%;
}

.listAddToCartBtn {
  position: absolute;
  right: 35px;
  bottom: 65px;
  display: flex;
  box-sizing: border-box;
  width: 52px;
  height: 52px;
  border: 0px;
  border-radius: 50%;
  background-color: #5ece7b;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding-right: 9px;
  cursor: pointer;
}

.outOfStockLayer {
  display: flex;
  position: absolute;
  height: inherit;
  width: inherit;
  background-color: #ffffff;
  opacity: 0.5;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
}