.productParams {
  width: 292px;
}

.attributeNamePrice {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 14px;
}

.paramPage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  height: 45px;
  width: 63px;
  border: 1px solid #1D1F22;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.priceParam {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  height: 46px;
  line-height: 18px;
  margin: 20px 0px;
}

.brand {
  display: block;
  font-size: 30px;
  font-weight: 600;
  line-height: 27px;
  margin: 0px 0px 15px 0px;
}

.name {
  display: block;
  font-size: 30px;
  font-weight: 400;
  line-height: 27px;
  margin: 0px 0px 43px 0px;
}

.addToCartBtn {
  font-family: 'Raleway', sans-serif;
  width: inherit;
  font-weight: 600;
  height: 50px;
  border: none;
  background-color: #5ece7b;
  color: #ffffff;
  margin-bottom: 15px;
  cursor: pointer;
  text-transform: uppercase;
}

.addToCartBtn:disabled {
  background-color: #bbbbbb;
}

.description {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.59px
}

.cartItemParams {
  width: 136px;
  display: flex;
  flex-direction: column;
  padding-right: 4px;
}

.cartItemName {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 25.6px;
}

.cartPriceParam {
  font-weight: 500;
  margin: 16px 0px;
}