.cartOverlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.22;
  z-index: 2;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 1240px;
  background-color: #ffffff;
  padding: 0px 100px;
}

.navLogo {
  height: 40px;
  width: 40px;
}

.actions {
  display: flex;
}