.currencySwitcher{
position: relative;
width: 40px;
padding-right: 28px;
}

.currency{
border: none;
background-color: #fff;
width: 60px;
display: flex;
align-items: center;
justify-content: flex-end;
font-weight: 500;
font-size: 22px;
cursor: pointer;
}

.notRotated {
    margin-left: 5px;
}

.rotated {
margin-left: 5px;
transform: rotateX(180deg)
}


.currenciesList {
position: absolute;
box-shadow: 0px 4px 35px rgb(168 172 176 / 19%);
z-index: 3;
padding: 17px 0px;
width: 114px;
background-color: #fff;
}

.currenciesListItem{
display: flex;
align-items: center;
justify-content: flex-start;
background-color: #fff;
font-size: 18px;
height: 45px;
padding-left: 20px;
}


.currenciesListItem:hover{
background-color: #eeeeee;
cursor: default;
}