@import "../components/productCard/productCard.css";
@import "../components/productList/productList.css";

.categotyTitle{
display: flex;
align-items: center;
text-transform: capitalize;
height: 68px;
font-weight: 400;
font-size: 42px;
margin: 0px;
line-height: 160%;
}

.galleryOutOfStockLayer {
display: flex;
position: absolute;
height: inherit;
width: inherit;
background-color: #ffffff;
opacity: 0.5;
justify-content: center;
align-items: center;
font-weight: 400;
font-size: 24px;
text-transform: uppercase;
}